<h1>test</h1>
{{#each users}}
    <div class="row">
        <div class="col-md-6">
            <h1>{{name}}</h1>
            <p>{{email}}</p>
        </div>
        <div class="col-md-6">
            <h1>{{role}}</h1>
            <p>{{createdAt}}</p>
        </div>
    </div>
{{/each}}